[user]
    name = Hiroshi Muraoka
    email = h.muraoka714@gmail.com

[alias]
    main-branch = !gh repo view --json defaultBranchRef --jq .defaultBranchRef.name
    current-branch = rev-parse --abbrev-ref HEAD

    amend = commit --amend
    bd = branch -D
    ci = commit
    co = checkout HEAD
    cl = checkout HEAD
    cm = commit -m
    cs = commit -sm
    d = diff
    ds = diff --staged
    e = !nvim ~/.gitconfig
    f = fetch origin
    fd = !fd
    g = !git grep -n
    gg = grep -n
    h = show
    hard = reset --hard
    l = log --graph --decorate --abbrev-commit --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    o = open
    op = stash pop
    pf = push --force-with-lease
    pi = !git pull origin $(git rev-parse --abbrev-ref HEAD)
    pk = cherry-pick
    po = push
    pr = !git push && gh pr create
    v = !gh pr view --web
    vv = !gh browse -b $(git current-branch)
    vm = !gh browse
    s = status -s
    ss = status
    ts = stash
    u = add -u
    w = switch
    c = switch -c
    cl = clean -fd

    # open issue
    I = !gh issue list --search 'involves:@me' -L 100 | fzf --height 90% --preview 'gh issue view {+1}' | awk '{print $1}' | xargs gh issue view --web

    # open PR
    P = "!f() { gh pr list --search 'involves:@me' -L 100 --json number,headRefName,title,updatedAt --template '{{range .}}{{tablerow (printf \"#%v\" .number | autocolor \"green\") .headRefName .title (timeago .updatedAt)}}{{end}}' | fzf --height 90% --preview 'gh pr diff --color=always {+1}' | awk '{print $1}' | xargs gh pr view --web; };f"

    # switch branch
    b = "!f() { gh pr list --search 'involves:@me' -L 100 --json number,headRefName,title,updatedAt --template '{{range .}}{{tablerow (printf \"#%v\" .number | autocolor \"green\") .headRefName .title (timeago .updatedAt)}}{{end}}' | fzf --height 90% --preview 'gh pr diff --color=always {+1}' | awk '{print $2}' | xargs git switch; }; f"

    ours = checkout --ours
    theirs = checkout --theirs

    m = "!f(){ git checkout $(git main-branch) $@;}; f"
    mr = "!f(){ git pull --rebase --autostash origin $(git main-branch) $@;}; f"

    lprune = "!f(){ B=$(git main-branch); git switch ${B}; git branch --format='%(refname:short)' --merged=${B} | grep -v \"^${B}$\" | xargs -n 1 git branch -D; }; f"
    rprune = fetch --prune

[init]
    defaultBranch = main

[core]
    editor = nvim
    autocrlf= false
    pager = delta -s
    sparseCheckout = true

[delta]
    syntax-theme = Monokai Extended
    features = line-numbers decorations

[pull]
    ff = only
    rebase = true

[push]
    default = current
    autoSetupRemote = true

[include]
    path = ~/.gitconfig.local

[diff]
    tool = vimdiff

[difftool]
    prompt = false

[merge]
    ff = false

[ghq]
    root=~/.ghq
    root=~/src

[url "https://"]
    insteadOf = git://

[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
