[alias]
    a = add
    u = add -u
    b = branch
    f = fetch
    fo = fetch origin
    h = show
    s = status -s
    ss = status
    st = status
    r = remote
    rs = remote show
    rp = remote prune origin
    co = checkout
    cb = checkout -b
    m = checkout master
    mp = !git checkout master && git pull
    cm = commit -m
    cs = commit -sm
    amend = commit --amend
    cp = cherry-pick
    mg = merge --no-ff
    ff = merge --ff
    i = diff
    w = diff --word-diff
    ic = diff --cached
    is = diff --staged
    ai = update-index --add
    ri = update-index --remove
    ps = push
    pl = pull --rebase
    plm = pull --merge
    l = log
    lp = log -p
    lo = log --oneline
    lm = log --no-merges
    ll = log --graph --all --format=\"%x09%C(cyan bold)%an%Creset%x09%C(yellow)%h%Creset %C(magenta reverse)%d%Creset %s\"
    g = grep
    vg = !git grep "$@" -- "./*" ":!vendor/**"
    vgrep = !git grep "$@" -- "./*" ":!vendor/**"
    cf = !git ls-files -u | cut -f 2 | sort -u
    conflicts = !git ls-files -u | cut -f 2 | sort -u

[core]
    editor=vim
    autocrlf= false

[pull]
    rebase = true

[push]
    default = simple

[include]
    path = ~/.gitconfig.local

[diff]
    tool = vimdiff

[difftool]
    prompt = false

[ghq]
    root=~/.ghq
    root=~/.go/src
    root=~/dart/src
    root=~/python/src
    root=~/go/src
    root=~/src
