[alias]
    st = status
    co = checkout
    b = branch
    u = add -u
    rb = rebase
    ci = commit
    cm = commit
    cp = cherry-pick
    dc = diff --cached
    df = diff
    tr = log --graph --all --format=\"%x09%C(cyan bold)%an%Creset%x09%C(yellow)%h%Creset %C(magenta reverse)%d%Creset %s\"
    ai = update-index --add
    ri = update-index --remove

    unmerged-log = log --no-merges
    ulog = log --no-merges
    ul = log --no-merges

    vgrep = !git grep "$@" -- "./*" ":!vendor/**"

[core]
    editor=nvim
    autocrlf= false

[pull]
    rebase = true

[push]
    default = simple

[include]
    path = ~/.gitconfig.local

[diff]
    tool = nvimdiff

[difftool "nvimdiff"]
    cmd = "nvim -R -d -c \"wincmd l\" -d \"$LOCAL\" \"$REMOTE\""

[mergetool "nvimdiff"]
    cmd = "nvim -d -c \"4wincmd w | wincmd J\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"  \"$MERGED\""rompt = false

[difftool]
    prompt = false

