[alias]
    tr = log --graph --all --format=\"%x09%C(cyan bold)%an%Creset%x09%C(yellow)%h%Creset %C(magenta reverse)%d%Creset %s\"
    st = status
    df = diff
    co = checkout
    br = branch
    up = rebase
    ci = commit

[user]
    email = h.muraoka714@gmail.com
    name = H.Muraoka

[core]
    editor=nvim
    autocrlf= false

[push]
    default = simple

