syntax enable " シンタックスハイライト
set encoding=utf-8 " エンコーディング
set number     " 行番号の表示
set cursorline   " カーソルライン横
set cursorcolumn " カーソルライン横 
set wrap       " 文を折り返し
set splitbelow " spで下に分割
set splitright " vsで上に分割
set smarttab   " 行頭はタブをスペースとして扱う
set nocompatible " vi互換モードで起動しない
set ruler      " カーソル位置を下のバーに表示
set showmatch  " カーソル下の対応するカッコをハイライト
set lazyredraw " マクロなどの途中経過を描写しない
set clipboard=unnamed,autoselect " ヤンクバッファを共有
set foldmethod=manual " 手動でグルーピング
set infercase  " 補完時に大文字と小文字を区別しない
set backspace=eol,indent,start " 改行を削除可能に
set virtualedit=block "C-vの矩形選択で行末より後ろもカーソルを置ける
set autoindent " 自動インデント
set shiftwidth=4 " インデントは半角スペース4つ分
set expandtab  " タブをスペースで代用
set tabstop=4  " タブは半角スペース4つ分で表示
set softtabstop=0 "タブ入力時のスペース挿入数(0=tabstopと同じ)
set showcmd    "ステータスラインにコマンドを表示
set hlsearch   " 検索文字列をハイライト
set nowrapscan " 検索で文頭にループしない
set ignorecase " 検索時に大文字小文字を無視
set smartcase

" backup作らない 
set nobackup
set nowritebackup
set noswapfile

" 不可視文字を表示 
set list
set listchars=tab:>-,trail:-,nbsp:%,eol:$

" 検索時に/をエスケープしない
cnoremap <expr> / (getcmdtype() == '/') ? '\/' : '/'

" Ctrl-v, cはIDE上でオフに

" H,Lで行頭、行末に移動
noremap H  ^
noremap L  $

" Select entire buffer
nnoremap vy ggVG

" 検索後にジャンプした際に検索単語を画面中央に持ってくる
nnoremap n nzz
nnoremap N Nzz
nnoremap * *zz
nnoremap # #zz
nnoremap g* g*zz
nnoremap g# g#zz

" UでRedo
nnoremap U <C-r>

" j, k による移動を折り返されたテキストでも自然に振る舞うように変更
nnoremap j gj
nnoremap k gk

" vを二回で行末まで選択
vnoremap v $h

" カーソル下の単語を * で検索
vnoremap <silent> * "vy/\V<C-r>=substitute(escape(@v, '\/'), "\n", '\\n', 'g')<CR><CR>

" s+hjkl でウィンドウ間を移動
nnoremap s <Nop>
nnoremap sh <C-w>h
nnoremap sj <C-w>j
nnoremap sk <C-w>k
nnoremap sl <C-w>l

" ノーマルモードで行挿入
nnoremap so o<Esc>k
nnoremap sO O<Esc>j

